.circle{
    height: 100px;
    width: 100px;
    background: red;
}
.square{
    height: 100px;
    width: 200px;
    background: orange;
}

.rectangle{
    height: 100px;
    width: 100px;
    background: yellow;
    -webkit-webkit: border radius 50px;
    -moz-webkit: border radius 50px;
    -ms-webkit: border radius 50px;
    -o-webkit: border radius 50px;
    border-radius: 50%;
}